body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.open-page {
  top:0;
  margin:0;
  padding:0;
  padding-bottom: 500px;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  background: url('coins3.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  margin-top: 80px;
  width: 90%;
  max-width: 900px;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 20px;
}

input.form-control {
  border-color: #29B287;
  border-style: solid;
  border-width: thin;
}

select.form-control {
  border-color: #29B287;
}

.custom-file-input {
  border-color: #29B287;
}

.optional {
  color: rgb(120,120,120);
}

input#descriptionOfTransaction {
  border-color: rgb(180,180,180);
}

.btn {
  margin-top: 20px;
}

.btn-delete {
  margin-top: 0;
  margin-left: 15px;
 }

.btn-modify {
  margin-top: 0;
}

.table td {
  padding: 0.3rem 0.15rem 0.3rem 0.5rem;
}

.summary-table {
  visibility: hidden;
}

#buttonColumn {
  width: 200px;
}

.btn-success {
  background-color: #29B287;
  border-color: #29B287;
}

.btn-success:hover {
  background-color: #0D654A;
  border-color: #0D654A;
}

.pop-up-window {
  position: fixed;
  width: 500px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -70%);
  /*
  top three rows: to center horizontally (& more or less ver also)
  */
  color: black;
  font-family: 'Ubuntu', sans-serif;
  border-style: solid;
  border-width: thin;
  border-color: rgb(120,120,120);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 20px 20px;
  background-color: rgb(230,230,230);
  display: none;
  z-index: 100;
}

@media only screen and (max-width: 510px) {
  .pop-up-window {
    width: 300px;
    transform: translate(-50%, -50%);
  }
}

.navbar {
  font-family: "Ubuntu", sans-serif;
}

#title-name {
  font-family: 'Rozha One', serif;
  color: #29B287;
  font-size: 30px;
}

h2 {
  font-family: 'Rozha One', serif;
  color: rgb(120,120,120);
  font-size: 26px;
}

#alert-text-dates {
  visibility: hidden;
}

#alert-text-cannot-delete-category {
  color: #29B287;
  display: none;
}

#create-new-user-window {
  display: none;
}

#join-to-group {
  display: none;
}

.new-group {
  display: none;
}

#newUser {
  margin-top: 0;
  margin-bottom: 20px;
}

#enterSystem {
  visibility: hidden;
}

#infoField {
  color: rgb(120,120,120);
  visibility: hidden;
}

#info-category-deleted {
  color: rgb(120,120,120);
  display: none;
}

.amountCell {
  text-align: right;
}

@media only screen and (max-width: 510px) {
  #title-name {
    font-size: 16px;
  }
}

.analysis-table-user {
    display: none;
}

.analysis-table-group {
    display: none;
}

.analysisRowNr0 {
  background-color: rgba(41,178,135,0.3);
}

.summaryRow {
  font-weight: bold;
}

#confirm-group-join-request-window {
    visibility: hidden;
}

.form-check {
  border-style: solid;
  border-width: thin;
  border-color: #29B287;
  padding: 10px;
  margin: 5px 20px;
}

#first-login-category-choice {
  display: none;
}

#not-first-login {
  display: none;
}

#my-rules {
  display: none;
}

#alert-text-no-email-found {
  visibility: hidden;
}

/*
  SELECTING FILE
  */
.custom-file-control::after {
  content: "Vali fail...";
}

/*
  to display the name of the file that was selected
  */
.custom-file-control.selected::after {
  content: "";
}

.read-from-file {
  border-top: solid;
  border-width: thin;
  border-color: rgb(120,120,120);
  padding-top: 50px;
}

.bordered {
  border-bottom: solid;
  border-width: thin;
  border-color: #29B287;
  padding-bottom: 20px;
}

#read-from-file-button {
  margin-top: 0;
}

#choose-bank-text {
  text-align: right;
}

.multiple-trans {
  visibility: hidden;
}

#isLoggedIn {
  color: #29B287;
}

.adding-transactions-succeeded {
  visibility: hidden;
}